
.content {
    display: flex;
    flex-direction: column;    
    align-items: center;    
    margin: 50px;
    text-align: justify;
  }

  h1 {
    font-size: 32px;       
    color: #0078d4;
  }

  h2 {
    font-size: 24px;
    color: #0078d4;
  }
  
 